* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    
}
.carousel-inner img {
    width: 100vh;
    object-fit: cover;
}

.navbar {
    background-color: rgba(31, 24, 15, 0.24);
    /* background-color: transparent !important; */
}

.navbar .nombre {
    margin-left: 200px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2em;
    font-style: normal;
}

.navbar-link {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    border: 1px solid rgba(255, 255, 255, 0.336);
    color: white;
}

.text-small-caps {
    font-variant: small-caps;
}
/* Grid de prueba - Proyectos*/
.container{
    margin-top: 12vh;
    margin-bottom: 8vh;
    /* border: 1px solid red; */
    display: grid;
    margin-left: 10vh;
    margin-right: 10vh;
}
.cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
  }
 .tit{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2em;
    font-style: normal;
}
span{
     
     font-family: "Cinzel", serif;

 }
 .span2{
    font-family: "Pacifico";
    margin-left: 3em;
 }
 .targimg{
    box-shadow: 3px solid white;
    opacity: 0;
    transition: opacity 2s ease-in-out;
 }
 .fondimg{
    display: flex;
    position: absolute;
    z-index: -1;
    height: auto;
 }

 .show{
    opacity: 1;
 }