* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 0;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.navbar {
    background-color: rgba(31, 24, 15, 0.24);
    display: flex;

}

.navbar .nombre {
    margin-left: 10vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2em;
    font-style: normal;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    /* border: 1px solid rgba(255, 255, 255, 0.336); */
    color: rgb(180, 180, 180);
}

.text-small-caps {
    font-variant: small-caps;
}

.tit {
    font-family: "Montserrat", serif;
    /* margin-left: 10vw; */
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.5em;
    font-style: normal;
}



.subTitL {
    font-family: "Montserrat", serif;
    font-weight: 800;
    align-items: center;
    text-align: left;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.tarjeta {
    position: relative;
    overflow: hidden;
}

.tarjeta img {
    transition: opacity 0.5s ease;
}

.tarjeta img:hover {
    opacity: 0.4;
}

.tarjeta .texto-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(236, 236, 236);
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Barlow", sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tarjeta:hover .texto-hover {
    opacity: 1;
}

.targimg {
    /* gap: 2; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    /* box-shadow: 3px solid white; */
    opacity: 1;
    /* transition: opacity 2s ease-out; */
}

.overlayImg {
    position: absolute;
    top: 0;
    /* left: 0; */
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.7s ease-out;

}

.fondimg {
    position: absolute;
    z-index: -1;
    height: auto;
}

.show {
    opacity: 1;
}

.mosaico {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.img1 {
    margin-top: 6%;
    height: 100vw;
    width: 100%;

}



.marco {
    padding: 0.1em;
    /* border: 3px solid white; */
}

.footer {
    height: 3em;
    text-align: center;
    align-content: center;
    font-weight: 300;
    font-family: "Open Sans";
    font-size: small;
}

.contenedor {
    margin-top: 7vw;
    margin-bottom: 2vw;
    margin: 2em 2em;
}

.contenedor a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* Carrusel */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 80vw;
    padding: 20px;
    gap: 10px;
    scroll-snap-type: x mandatory;
    position: relative;
}

.carousel img {
    height: 80vh;
    object-fit: cover;
    scroll-snap-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* .carousel img:hover {
    transform: scale(1.05);
} */

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
}

.texto {
    padding: 1rem;
    margin-top: 7vw;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: white;
    border: 1px solid rgb(184, 184, 184);
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: none;

}
/* Ef fade - in*/
.fade-in {
    opacity: 0;
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
/* ---- */
/* External-Links */
.external-links{
    margin: 2rem 2rem 2rem 5rem;
    padding: 1rem;
    border: 0.8px solid white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px;
  }
.external-links ul{
    list-style: none;
    
}
.external-links ul li a{
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-size: 1rem;
    font-family: "Barlow",sans-serif;
    
}
.external-links ul li a:hover{
    color: rgb(187, 187, 187);
    font-weight: 500;
}

.external-links h4{
    font-family: "Barlow",sans-serif;
    font-weight: 600;
    color: rgb(231, 231, 231);
    font-variant: small-caps;
}
.external-links h5{
    margin-top: 2px;
    font-family: "Montserrat", sans-serif;
    color: rgb(151, 151, 151);
}
.external-links ul li i{
    margin-right: 2rem;
    font-size: 1.1rem;
}
/*---*/
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(39, 39, 39, 0.950);
    list-style: none;
    z-index: 1000;
    margin: 0;
    padding: 0;
    left: 0;
    top: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
}

.nav-item:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-variant: normal;
}

.dropdown-menu a:hover {
    background-color: rgba(78, 78, 78, 0.900);
    color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

@media (max-width: 768px) {

    .navbar-brand {
        font-size: 2rem;

    }

    .subTit {
        font-size: 1.5rem;
    }

    .txt {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 2.5rem;
    }

    .subTit {
        font-size: 2rem;
    }

    .txt {
        font-size: 1.5rem;
    }
}